<%= hidden_field_tag :direction, params[:direction]%>
<%= hidden_field_tag :sort, params[:sort]%>

<div>
    <div class="toolbar">

      <div class="sort-by">
        <ul class="sort-by-list">
          <li class="sort-by-option">
            <%= #link_to "Name", :sort => "name"
                  sortable "name" %>
          </li>
          <li class="sort-by-option">
            <%= #link_to "Era", :sort => "era" 
                  sortable "era" %>
          </li>
          <li class="sort-by-option">
            <%= #link_to "Diet", :sort => "diet"
                  sortable "diet" %>
          </li>
        </ul>
      </div>
      <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
    </div>

  
    
    <ul class="dino-list">
      <% @dinosaurs.each do |dinosaur| %>
        <li class="dino" style="height:200px;">
          <div class="dino-wrapper">
            <%= link_to dinosaur do%>
              <div class="dino-img-wrapper">
                <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
              </div>
              <div class="dino-info">
                <label class="dino-name"><%= dinosaur.name %></label>
                <label class="dino-era"><%= dinosaur.era %></label><br>
                <label class="dino-diet"><%= dinosaur.diet %></label><br>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>
        </li>
      <% end %>
    </ul>
<%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
</div>