<div>
  <div class="row">

    <!-- search refinements -->
    <div class="col-sm-3">

      <!-- desktop refines -->
      <div class="panel-group hidden-phone">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#era_refines"><h4 class="panel-title">
              Era
            </h4></a>
          </div>
          <div id="era_refines" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= refinement "era", "triassic", params %><br>
              <%= refinement "era", "jurassic", params %><br>
              <%= refinement "era", "cretaceous", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#diet_refines"><h4 class="panel-title">
              Diet
            </h4></a>
          </div>
          <div id="diet_refines" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= refinement "diet", "carnivore", params %><br>
              <%= refinement "diet", "herbivore", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#order_refines"><h4 class="panel-title">
              Order
            </h4></a>
          </div>
          <div id="order_refines" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= refinement "taxonomy", "saurischia", params %><br>
              <%= refinement "taxonomy", "ornithischia", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#location_refines">
            <h4 class="panel-title">
              Location
            </h4>
            </a>
          </div>
          <div id="location_refines" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= refinement "location", "antarctica", params %><br>
              <%= refinement "location", "argentina", params %><br>
              <%= refinement "location", "australia", params %><br>
              <%= refinement "location", "austria", params %><br>
              <%= refinement "location", "brazil", params %><br>
              <%= refinement "location", "canada", params %><br>
              <%= refinement "location", "chile", params %><br>
              <%= refinement "location", "china", params %><br>
              <%= refinement "location", "egypt", params %><br>
              <%= refinement "location", "england", params %><br>
              <%= refinement "location", "germany", params %><br>
              <%= refinement "location", "france", params %><br>
              <%= refinement "location", "india", params %><br>
              <%= refinement "location", "japan", params %><br>
              <%= refinement "location", "kazakhstan", params %><br>
              <%= refinement "location", "lesotho", params %><br>
              <%= refinement "location", "madigascar", params %><br>
              <%= refinement "location", "mongolia", params %><br>
              <%= refinement "location", "morocco", params %><br>
              <%= refinement "location", "portugal", params %><br>
              <%= refinement "location", "russia", params %><br>
              <%= refinement "location", "romania", params %><br>
              <%= refinement "location", "scotland", params %><br>
              <%= refinement "location", "south africa", params %><br>
              <%= refinement "location", "spain", params %><br>
              <%= refinement "location", "tanzania", params %><br>
              <%= refinement "location", "usa", params %><br>
              <%= refinement "location", "uraguay", params %><br>
              <%= refinement "location", "united kingdom", params %><br>
              <%= refinement "location", "uzbekistan", params %><br>
              <%= refinement "location", "zimbabwe", params %>
            </div>
          </div>
        </div>
      </div>

      <!-- mobile refines -->
      <div class="panel-group visible-phone">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#era_refines_mobile"><h4 class="panel-title">
              Era
            </h4></a>
          </div>
          <div id="era_refines_mobile" class="panel-collapse collapse">
            <div class="panel-body">
              <%= refinement "era", "triassic", params %><br>
              <%= refinement "era", "jurassic", params %><br>
              <%= refinement "era", "cretaceous", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#diet_refines_mobile"><h4 class="panel-title">
              Diet
            </h4></a>
          </div>
          <div id="diet_refines_mobile" class="panel-collapse collapse">
            <div class="panel-body">
              <%= refinement "diet", "carnivore", params %><br>
              <%= refinement "diet", "herbivore", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#order_refines_mobile"><h4 class="panel-title">
              Order
            </h4></a>
          </div>
          <div id="order_refines_mobile" class="panel-collapse collapse">
            <div class="panel-body">
              <%= refinement "taxonomy", "saurischia", params %><br>
              <%= refinement "taxonomy", "ornithischia", params %>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          
          <div class="panel-heading">
            <a data-toggle="collapse" class="refine-list-title" href="#location_refines_mobile">
            <h4 class="panel-title">
              Location
            </h4>
            </a>
          </div>
          <div id="location_refines_mobile" class="panel-collapse collapse">
            <div class="panel-body">
              <%= refinement "location", "antarctica", params %><br>
              <%= refinement "location", "argentina", params %><br>
              <%= refinement "location", "australia", params %><br>
              <%= refinement "location", "austria", params %><br>
              <%= refinement "location", "brazil", params %><br>
              <%= refinement "location", "canada", params %><br>
              <%= refinement "location", "chile", params %><br>
              <%= refinement "location", "china", params %><br>
              <%= refinement "location", "egypt", params %><br>
              <%= refinement "location", "england", params %><br>
              <%= refinement "location", "germany", params %><br>
              <%= refinement "location", "france", params %><br>
              <%= refinement "location", "india", params %><br>
              <%= refinement "location", "japan", params %><br>
              <%= refinement "location", "kazakhstan", params %><br>
              <%= refinement "location", "lesotho", params %><br>
              <%= refinement "location", "madigascar", params %><br>
              <%= refinement "location", "mongolia", params %><br>
              <%= refinement "location", "morocco", params %><br>
              <%= refinement "location", "portugal", params %><br>
              <%= refinement "location", "russia", params %><br>
              <%= refinement "location", "romania", params %><br>
              <%= refinement "location", "scotland", params %><br>
              <%= refinement "location", "south africa", params %><br>
              <%= refinement "location", "spain", params %><br>
              <%= refinement "location", "tanzania", params %><br>
              <%= refinement "location", "USA", params %><br>
              <%= refinement "location", "uraguay", params %><br>
              <%= refinement "location", "united kingdom", params %><br>
              <%= refinement "location", "uzbekistan", params %><br>
              <%= refinement "location", "zimbabwe", params %>
            </div>
          </div>
        </div>
      </div>
      
    </div>
      
    <% if @dinosaurs.count > 0 %>

      <!-- dino listing -->
      <div class="col-sm-9">
      <% @dinosaurs.each do |dinosaur| %>

        <!-- Thumbnail -->
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="dino-img-wrapper">
                <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
              </div>
            <div class="caption">
              <h3><%= dinosaur.name %></h3>
              <label><%= dinosaur.era %></label><br>
              <label><%= dinosaur.diet %></label><br>
              <p><%= truncate(dinosaur.description, length: 100) %></p>
              <p style="text-align:center;"><button data-target="#<%= dinosaur.name %>" data-toggle="modal" class="btn btn-primary" type="button">More Info</button> </p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id=<%= dinosaur.name %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><%= dinosaur.name %></h4>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="dino-img-wrapper">
                    <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
                  </div>
                  <p>
                    <div class="row">
                      <b class="col-sm-4 col-sm-offset-2 text-left">Era:</b> <span class="col-sm-4 text-left"><%= dinosaur.era %></span>
                    </div>
                    <div class="row">
                      <b class="col-sm-4 col-sm-offset-2 text-left">Diet:</b> <span class="col-sm-4 text-left"><%= dinosaur.diet%></span>
                    </div>
                    <div class="row">
                      <b class="col-sm-4 col-sm-offset-2 text-left">Order:</b> <span class="col-sm-4 text-left"><%= dinosaur.taxonomy%></span>
                    </div>
                    <div class="row">
                      <b class="col-sm-4 col-sm-offset-2 text-left">Length:</b> <span class="col-sm-4 text-left"><%= dinosaur.length%></span>
                    </div>
                    <div class="row">
                      <b class="col-sm-4 col-sm-offset-2 text-left">Location:</b> <span class="col-sm-4 text-left"><%= dinosaur.location%></span>
                    </div>
                  </p>
                  <p>
                    <%= dinosaur.description %>
                  </p>
                </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT", renderer: BootstrapPagination::Rails %>
      </div>
      </div>
    </div>

  <% else %>

    <div class="text-center">
      <h2>No Dinosaurs Found! </h2>
      <%= image_tag("dead-friends.png", class: "no-dino-image") %>
    </div>

  <% end %>
  
</div>

