<div>
    
    <% if @dinosaurs.count > 0 %>

      <div class="row">

        <!-- search refinements -->

        
        <div class="col-sm-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Era
            </div>
            <div class="panel-body">
              <%= refinement "era", "triassic", params %><br>
              <%= refinement "era", "jurassic", params %><br>
              <%= refinement "era", "cretaceous", params %>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Diet
            </div>
            <div class="panel-body">
              <%= refinement "diet", "carnivore", params %><br>
              <%= refinement "diet", "herbivore", params %>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Order
            </div>
            <div class="panel-body">
              <%= refinement "taxonomic_order", "saurischia", params %><br>
              <%= refinement "taxonomic_order", "herbivore", params %>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              Location
            </div>
            <div class="panel-body">
              <%= refinement "location", "usa", params %><br>
              <%= refinement "location", "herbivore", params %>
            </div>
          </div>
        </div>
        


        <!-- dino listing -->
        <div class="col-sm-9">
        <% @dinosaurs.each do |dinosaur| %>

          <!-- Thumbnail -->
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="dino-img-wrapper">
                  <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
                </div>
              <div class="caption">
                <h3><%= dinosaur.name %></h3>
                <label><%= dinosaur.era %></label><br>
                <label><%= dinosaur.diet %></label><br>
                <p><%= truncate(dinosaur.description, length: 100) %></p>
                <p style="text-align:center;"><button data-target="#<%= dinosaur.name %>" data-toggle="modal" class="btn btn-primary" type="button">More Info</button> </p>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id=<%= dinosaur.name %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= dinosaur.name %></h4>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="dino-img-wrapper">
                      <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
                    </div>
                    <p>
                      <div class="row">
                        <b class="col-sm-4 col-sm-offset-2 text-left">Era:</b> <span class="col-sm-4 text-left"><%= dinosaur.era %></span>
                      </div>
                      <div class="row">
                        <b class="col-sm-4 col-sm-offset-2 text-left">Diet:</b> <span class="col-sm-4 text-left"><%= dinosaur.diet%></span>
                      </div>
                      <div class="row">
                        <b class="col-sm-4 col-sm-offset-2 text-left">Order:</b> <span class="col-sm-4 text-left"><%= dinosaur.taxonomic_order%></span>
                      </div>
                      <div class="row">
                        <b class="col-sm-4 col-sm-offset-2 text-left">Length:</b> <span class="col-sm-4 text-left"><%= dinosaur.length%></span>
                      </div>
                      <div class="row">
                        <b class="col-sm-4 col-sm-offset-2 text-left">Location:</b> <span class="col-sm-4 text-left"><%= dinosaur.location%></span>
                      </div>
                    </p>
                    <p>
                      <%= dinosaur.description %>
                    </p>
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="text-center">
          <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
        </div>
        </div>
      </div>

    <% else %>

      <h2>No Dinosaurs Found! </h2>
      <%= image_tag("dead-friends.png", class: "no-dino-image") %>

    <% end %>
  
</div>

