<%= hidden_field_tag :direction, params[:direction]%>
<%= hidden_field_tag :sort, params[:sort]%>

<table>
  <thead>
    <tr>
      <th>Image</th>

      <th><%= #link_to "Name", :sort => "name"
              sortable "name" %></th>
      <th><%= #link_to "Era", :sort => "era" 
              sortable "era" %></th>
      <th><%= #link_to "Diet", :sort => "diet"
              sortable "diet" %></th>
      <th><%= #link_to "Order", :sort => "taxonomic_order" 
              sortable "taxonomic_order", "Order" %></th>
      <th><%= #link_to "Length", :sort => "length" 
              sortable "length" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
    <% @dinosaurs.each do |dinosaur| %>
      <tr style="height:200px;">
        <td><%= image_tag(dinosaur.image_url, class: "dino_img", alt: dinosaur.name)%></td>
        <td><%= dinosaur.name %></td>
        <td><%= dinosaur.era %></td>
        <td><%= dinosaur.diet %></td>
        <td><%= dinosaur.taxonomic_order %></td>
        <td><%= dinosaur.length %> ft</td>
        <td><%= link_to 'Show', dinosaur %></td>
        <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
        <td><%= link_to 'Destroy', dinosaur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>

</table>
<%= will_paginate @dinosaurs %>

