<%= hidden_field_tag :direction, params[:direction]%>
<%= hidden_field_tag :sort, params[:sort]%>

<div>
    <div class="toolbar">

      <div class="sort-by">
        <ul class="sort-by-list">
          <li class="sort-by-option">
            <%= #link_to "Name", :sort => "name"
                  sortable "name" %>
          </li>
          <li class="sort-by-option">
            <%= #link_to "Era", :sort => "era" 
                  sortable "era" %>
          </li>
          <li class="sort-by-option">
            <%= #link_to "Diet", :sort => "diet"
                  sortable "diet" %>
          </li>
        </ul>
      </div>
      <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
    </div>

    
    <% if @dinosaurs.count > 0 %>
    
      <ul class="dino-list">
        <% @dinosaurs.each do |dinosaur| %>
          <li class="dino" style="height:200px;">
            <div class="dino-wrapper">
              <%= link_to_modal "##{dinosaur.name}" do %>
                <div class="dino-img-wrapper">
                  <%= image_tag(dinosaur.image_url, class: "dino-img", alt: dinosaur.name)%>
                </div>
              <% end %>
              <div class="dino-info">
                <%= link_to_modal dinosaur.name, "##{dinosaur.name}", :class => "dino-name", :rel => "modal:close" %>
                <label class="dino-era"><%= dinosaur.era %></label><br>
                <label class="dino-diet"><%= dinosaur.diet %></label><br>
                <label class="dino-description"><%= truncate(dinosaur.description, length: 250) %></label><br>
                <label class="dino-short"><%= truncate(dinosaur.description, length: 100) %></label><br>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <div id=<%= dinosaur.name %> style="display:none;background:#b2b2b2;">
            <h1><%= dinosaur.name %></h1>
            <div id="left">
              <div class="wrapper">
              <%= image_tag(dinosaur.image_url, alt: dinosaur.name)%>
              </div>
            </div>
            <div id="right">
              <div id="wrapper">
                <p>
                  Era: <span><%= dinosaur.era %></span><br>
                  Diet: <span><%= dinosaur.diet%></span><br>
                  Order: <span><%= dinosaur.taxonomic_order%></span><br>
                  Length: <span><%= dinosaur.length%></span><br>
                  Location: <span><%= dinosaur.location%></span><br>
                </p>
              </div>
            <br>
            
            </div>
            <h3 class="bottom-header">Description</h3>
            <div class="bottom">
              <p>
                <%= dinosaur.description %>
              </p>
            </div>
          </div>
        <% end %>
      </ul>
    <% else %>

      <h2>No Dinosaurs Found! </h2>
      <%= image_tag("dead-friends.png", class: "no-dino-image") %>

    <% end %>
  <%= will_paginate @dinosaurs, inner_window: 2, outter_window: 0, previous_label: "PREV", next_label: "NEXT"%>
</div>