<div class="branding">
	<%= image_tag("skull-white.png", :class => "logo") %>
	<label class="title">Dinosaur Search</label>
</div>

<div class="content">

	<p id="notice"><%= notice %></p>

	  <%= form_tag dinosaurs_path, :method => 'get', :id => "dinosaur_search" do %>

	  	
	    <%= text_field_tag :search, params[:search], class: 'search_bar' %>
	    <!--<%= submit_tag "Search" %>-->

		<div id="dinosaurs">
		  <%= render 'dinosaurs' %>
		</div>
	  <% end %>

</div>