<div class="branding">
	<%= image_tag("skull-white.png", :class => "logo") %>
	<label class="title">Dinosaur Search</label>
</div>

<div class="content">

	

	  <%= form_tag(dinosaurs_path, :method => 'get', :id => "dinosaur_search", :autocomplete => :off )do %>

	  	<div class="upper-toolbar">
        	<%= text_field_tag :search, params[:search], class: 'search_bar' %>
      	</div>

	    
	    <!--<%= submit_tag "Search" %>-->

		<div id="dinosaurs">
		  <%= render 'dinosaurs' %>
		</div>
	  <% end %>
	

	
</div>

<div id="ooga-booga" style="display:none;">
	<p>
		This is a test.
	</p>
</div>
<%= link_to_modal "Demo Form", "#ooga-booga", :class => "button", :rel => "modal:close" %>