<p id="notice"><%= notice %></p>


<h1>Listing Dinosaurs</h1>

  <%= form_tag dinosaurs_path, :method => 'get', :id => "dinosaur_search" do %>

  	
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>

	<div id="dinosaurs">
	  <%= render 'dinosaurs' %>
	</div>
  <% end %>

<%= link_to "Advanced Search", new_search_path %>

<br>

<%= link_to 'New Dinosaur', new_dinosaur_path %>