<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dinosaur.name %>
</p>

<p>
  <strong>Era:</strong>
  <%= @dinosaur.era %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @dinosaur.diet %>
</p>

<p>
  <strong>Order:</strong>
  <%= @dinosaur.taxonomic_order %>
</p>

<p>
  <strong>Length:</strong>
  <%= @dinosaur.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dinosaur.height %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @dinosaur.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dinosaur.description %>
</p>

<%= link_to 'Edit', edit_dinosaur_path(@dinosaur) %> |
<%= link_to 'Back', dinosaurs_path %>
