<div class="branding">
  <a href="/">
    <%= image_tag("skull-white.png", :class => "logo") %>
    <label class="title">Dinosaur Search</label>
  </a>
</div>

<div class="content">

    <h1><%= @dinosaur.name %></h1>
    <div id="left">
      <%= image_tag(@dinosaur.image_url, alt: @dinosaur.name)%>
    </div>
    <div id="right">
      <div id="wrapper">
        <p>
          Era: <span><%= @dinosaur.era %></span><br>
          Diet: <span><%= @dinosaur.diet%></span><br>
          Order: <span><%= @dinosaur.taxonomic_order%></span><br>
          Length: <span><%= @dinosaur.length%></span><br>
          Location: <span><%= @dinosaur.location%></span><br>
        </p>
      </div>
    <br>

    <p id="notice"><%= notice %></p>
  
</div>













<!-- OLD STUFF
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dinosaur.name %>
</p>

<p>
  <strong>Era:</strong>
  <%= @dinosaur.era %>
</p>

<p>
  <strong>Diet:</strong>
  <%= @dinosaur.diet %>
</p>

<p>
  <strong>Order:</strong>
  <%= @dinosaur.taxonomic_order %>
</p>

<p>
  <strong>Length:</strong>
  <%= @dinosaur.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dinosaur.height %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @dinosaur.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dinosaur.description %>
</p>

<%= link_to 'Edit', edit_dinosaur_path(@dinosaur) %> |
<%= link_to 'Back', dinosaurs_path %>
-->