<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

	<div class="field">
		<%= s.label :keywords %><br />
		<%= s.text_field :keywords %>
	</div>

	<div class="field">
		<%= s.label :taxonomic_order %> <br />
		<%= s.select :taxonomic_order, options_for_select(["Saurischia", "Ornithischia"]), :include_blank => true %>
	</div>

	<div class="actions"><%= s.submit "Search", class: "pure-bottom pure-button-primary"%></div>
<% end %>

<p><%= link_to "Back", dinosaurs_path %></p>