<h1>Search Results</h1>

<p><%= link_to "Back", new_search_path %></p>

<%= link_to "Advanced Search", new_search_path %>

<% #if @search.search_dinosaurs.blank? 
    if @search.blank? %>

  <p>No Results Found</p>

<% else %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Era</th>
      <th>Diet</th>
      <th>Order</th>
      <th>Length</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.search_dinosaurs.each do |dinosaur| %>
      <tr>
        <td><%= image_tag(dinosaur.image_url, size: "100", alt: dinosaur.name)%></td>
        <td><%= dinosaur.name %></td>
        <td><%= dinosaur.era %></td>
        <td><%= dinosaur.diet %></td>
        <td><%= dinosaur.taxonomic_order %></td>
        <td><%= dinosaur.length %></td>
        <td><%= dinosaur.height %></td>
        <td><%= link_to 'Show', dinosaur %></td>
        <td><%= link_to 'Edit', edit_dinosaur_path(dinosaur) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>